<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${message}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" />
    </target>
    <target name="debugFile" xsi:type="AsyncWrapper" overflowAction="Grow">
      <target xsi:type="File" fileName="${basedir}/logs/debug.txt" keepFileOpen="false" encoding="utf-8" createDirs="true"
              layout="[${pad:padding=5:inner=${level:uppercase=true}}] ${longdate} ${message}" />
    </target>
    <target name="traceFile" xsi:type="AsyncWrapper" overflowAction="Grow">
      <target xsi:type="File" fileName="${basedir}/logs/trace.txt" keepFileOpen="false" encoding="utf-8" createDirs="true"
              layout="[${pad:padding=5:inner=${level:uppercase=true}}] ${longdate} ${message}" />
    </target>
    <target name="errorFile" xsi:type="File" fileName="${basedir}/logs/error.txt" keepFileOpen="false" encoding="utf-8" createDirs="true"
            layout="[${pad:padding=5:inner=${level:uppercase=true}}] ${longdate} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugFile,console" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    <logger name="*" level="Trace" writeTo="traceFile" />
  </rules>
</nlog>